<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<div layout:fragment="content">
    <h2>EMPLOYEE LIST</h2>
    <div style="text-align: center; margin-bottom: 20px;">
        <a th:href="'/add'" class="add-employee-button">Add Employee</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"/>
            <td>
                <a th:href="'/detail/' + ${employee.id}" th:text="${employee.name}"/>
            </td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>